<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>com.leadformix.tests.LoginTest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>loginTest_TrialRedirect</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>loginTest_isvalidUsernameinvalidPasswordLogin</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>loginTest_longUsernamePasswordLogin</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>loginTest_emptyUsernamePasswordLogin</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>loginTest_specialCharUsernamePasswordLogin</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>loginTest_invalidUsernamePasswordLogin</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>loginTest_successfullLogin</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setUp</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>checkBrowserState</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>tearDown</td>
<td>&nbsp;</td></tr>
</table>
