<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6a99b2">  <td>15/03/17 17:24:55</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTest.checkBrowserState()[pri:0, instance:com.leadformix.tests.LoginTest@4563e9ab]">&gt;&gt;checkBrowserState</td> 
<td>&nbsp;</td>  <td>main@357863579</td>   <td></td> </tr>
<tr bgcolor="6a99b2">  <td>15/03/17 17:25:06</td>   <td>10609</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTest.checkBrowserState()[pri:0, instance:com.leadformix.tests.LoginTest@4563e9ab]">&gt;&gt;checkBrowserState</td> 
<td>&nbsp;</td>  <td>main@357863579</td>   <td></td> </tr>
<tr bgcolor="6a99b2">  <td>15/03/17 17:25:09</td>   <td>14041</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTest.checkBrowserState()[pri:0, instance:com.leadformix.tests.LoginTest@4563e9ab]">&gt;&gt;checkBrowserState</td> 
<td>&nbsp;</td>  <td>main@357863579</td>   <td></td> </tr>
<tr bgcolor="6a99b2">  <td>15/03/17 17:25:13</td>   <td>17264</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTest.checkBrowserState()[pri:0, instance:com.leadformix.tests.LoginTest@4563e9ab]">&gt;&gt;checkBrowserState</td> 
<td>&nbsp;</td>  <td>main@357863579</td>   <td></td> </tr>
<tr bgcolor="6a99b2">  <td>15/03/17 17:25:16</td>   <td>20399</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTest.checkBrowserState()[pri:0, instance:com.leadformix.tests.LoginTest@4563e9ab]">&gt;&gt;checkBrowserState</td> 
<td>&nbsp;</td>  <td>main@357863579</td>   <td></td> </tr>
<tr bgcolor="6a99b2">  <td>15/03/17 17:25:19</td>   <td>23874</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTest.checkBrowserState()[pri:0, instance:com.leadformix.tests.LoginTest@4563e9ab]">&gt;&gt;checkBrowserState</td> 
<td>&nbsp;</td>  <td>main@357863579</td>   <td></td> </tr>
<tr bgcolor="6a99b2">  <td>15/03/17 17:25:22</td>   <td>26930</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTest.checkBrowserState()[pri:0, instance:com.leadformix.tests.LoginTest@4563e9ab]">&gt;&gt;checkBrowserState</td> 
<td>&nbsp;</td>  <td>main@357863579</td>   <td></td> </tr>
<tr bgcolor="6a99b2">  <td>15/03/17 17:24:55</td>   <td>4</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.loginTest_TrialRedirect()[pri:0, instance:com.leadformix.tests.LoginTest@4563e9ab]">loginTest_TrialRedirect</td> 
  <td>main@357863579</td>   <td></td> </tr>
<tr bgcolor="6a99b2">  <td>15/03/17 17:25:06</td>   <td>10647</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.loginTest_emptyUsernamePasswordLogin()[pri:0, instance:com.leadformix.tests.LoginTest@4563e9ab]">loginTest_emptyUsernamePasswordLogin</td> 
  <td>main@357863579</td>   <td></td> </tr>
<tr bgcolor="6a99b2">  <td>15/03/17 17:25:09</td>   <td>14072</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.loginTest_invalidUsernamePasswordLogin()[pri:0, instance:com.leadformix.tests.LoginTest@4563e9ab]">loginTest_invalidUsernamePasswordLogin</td> 
  <td>main@357863579</td>   <td></td> </tr>
<tr bgcolor="6a99b2">  <td>15/03/17 17:25:13</td>   <td>17290</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.loginTest_isvalidUsernameinvalidPasswordLogin()[pri:0, instance:com.leadformix.tests.LoginTest@4563e9ab]">loginTest_isvalidUsernameinvalidPasswordLogin</td> 
  <td>main@357863579</td>   <td></td> </tr>
<tr bgcolor="6a99b2">  <td>15/03/17 17:25:16</td>   <td>20411</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.loginTest_longUsernamePasswordLogin()[pri:0, instance:com.leadformix.tests.LoginTest@4563e9ab]">loginTest_longUsernamePasswordLogin</td> 
  <td>main@357863579</td>   <td></td> </tr>
<tr bgcolor="6a99b2">  <td>15/03/17 17:25:19</td>   <td>23911</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.loginTest_specialCharUsernamePasswordLogin()[pri:0, instance:com.leadformix.tests.LoginTest@4563e9ab]">loginTest_specialCharUsernamePasswordLogin</td> 
  <td>main@357863579</td>   <td></td> </tr>
<tr bgcolor="6a99b2">  <td>15/03/17 17:25:22</td>   <td>26941</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.loginTest_successfullLogin()[pri:0, instance:com.leadformix.tests.LoginTest@4563e9ab]">loginTest_successfullLogin</td> 
  <td>main@357863579</td>   <td></td> </tr>
<tr bgcolor="6a99b2">  <td>15/03/17 17:24:55</td>   <td>-453</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTest.setUp()[pri:0, instance:com.leadformix.tests.LoginTest@4563e9ab]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@357863579</td>   <td></td> </tr>
<tr bgcolor="6a99b2">  <td>15/03/17 17:25:30</td>   <td>34874</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTest.tearDown()[pri:0, instance:com.leadformix.tests.LoginTest@4563e9ab]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@357863579</td>   <td></td> </tr>
</table>
