<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6a99b2">  <td>15/03/17 17:24:55</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTest.setUp()[pri:0, instance:com.leadformix.tests.LoginTest@4563e9ab]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@357863579</td>   <td></td> </tr>
<tr bgcolor="6a99b2">  <td>15/03/17 17:24:55</td>   <td>453</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTest.checkBrowserState()[pri:0, instance:com.leadformix.tests.LoginTest@4563e9ab]">&gt;&gt;checkBrowserState</td> 
<td>&nbsp;</td>  <td>main@357863579</td>   <td></td> </tr>
<tr bgcolor="6a99b2">  <td>15/03/17 17:24:55</td>   <td>457</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.loginTest_TrialRedirect()[pri:0, instance:com.leadformix.tests.LoginTest@4563e9ab]">loginTest_TrialRedirect</td> 
  <td>main@357863579</td>   <td></td> </tr>
<tr bgcolor="6a99b2">  <td>15/03/17 17:25:06</td>   <td>11062</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTest.checkBrowserState()[pri:0, instance:com.leadformix.tests.LoginTest@4563e9ab]">&gt;&gt;checkBrowserState</td> 
<td>&nbsp;</td>  <td>main@357863579</td>   <td></td> </tr>
<tr bgcolor="6a99b2">  <td>15/03/17 17:25:06</td>   <td>11100</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.loginTest_emptyUsernamePasswordLogin()[pri:0, instance:com.leadformix.tests.LoginTest@4563e9ab]">loginTest_emptyUsernamePasswordLogin</td> 
  <td>main@357863579</td>   <td></td> </tr>
<tr bgcolor="6a99b2">  <td>15/03/17 17:25:09</td>   <td>14494</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTest.checkBrowserState()[pri:0, instance:com.leadformix.tests.LoginTest@4563e9ab]">&gt;&gt;checkBrowserState</td> 
<td>&nbsp;</td>  <td>main@357863579</td>   <td></td> </tr>
<tr bgcolor="6a99b2">  <td>15/03/17 17:25:09</td>   <td>14525</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.loginTest_invalidUsernamePasswordLogin()[pri:0, instance:com.leadformix.tests.LoginTest@4563e9ab]">loginTest_invalidUsernamePasswordLogin</td> 
  <td>main@357863579</td>   <td></td> </tr>
<tr bgcolor="6a99b2">  <td>15/03/17 17:25:13</td>   <td>17717</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTest.checkBrowserState()[pri:0, instance:com.leadformix.tests.LoginTest@4563e9ab]">&gt;&gt;checkBrowserState</td> 
<td>&nbsp;</td>  <td>main@357863579</td>   <td></td> </tr>
<tr bgcolor="6a99b2">  <td>15/03/17 17:25:13</td>   <td>17743</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.loginTest_isvalidUsernameinvalidPasswordLogin()[pri:0, instance:com.leadformix.tests.LoginTest@4563e9ab]">loginTest_isvalidUsernameinvalidPasswordLogin</td> 
  <td>main@357863579</td>   <td></td> </tr>
<tr bgcolor="6a99b2">  <td>15/03/17 17:25:16</td>   <td>20852</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTest.checkBrowserState()[pri:0, instance:com.leadformix.tests.LoginTest@4563e9ab]">&gt;&gt;checkBrowserState</td> 
<td>&nbsp;</td>  <td>main@357863579</td>   <td></td> </tr>
<tr bgcolor="6a99b2">  <td>15/03/17 17:25:16</td>   <td>20864</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.loginTest_longUsernamePasswordLogin()[pri:0, instance:com.leadformix.tests.LoginTest@4563e9ab]">loginTest_longUsernamePasswordLogin</td> 
  <td>main@357863579</td>   <td></td> </tr>
<tr bgcolor="6a99b2">  <td>15/03/17 17:25:19</td>   <td>24327</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTest.checkBrowserState()[pri:0, instance:com.leadformix.tests.LoginTest@4563e9ab]">&gt;&gt;checkBrowserState</td> 
<td>&nbsp;</td>  <td>main@357863579</td>   <td></td> </tr>
<tr bgcolor="6a99b2">  <td>15/03/17 17:25:19</td>   <td>24364</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.loginTest_specialCharUsernamePasswordLogin()[pri:0, instance:com.leadformix.tests.LoginTest@4563e9ab]">loginTest_specialCharUsernamePasswordLogin</td> 
  <td>main@357863579</td>   <td></td> </tr>
<tr bgcolor="6a99b2">  <td>15/03/17 17:25:22</td>   <td>27383</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTest.checkBrowserState()[pri:0, instance:com.leadformix.tests.LoginTest@4563e9ab]">&gt;&gt;checkBrowserState</td> 
<td>&nbsp;</td>  <td>main@357863579</td>   <td></td> </tr>
<tr bgcolor="6a99b2">  <td>15/03/17 17:25:22</td>   <td>27394</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.loginTest_successfullLogin()[pri:0, instance:com.leadformix.tests.LoginTest@4563e9ab]">loginTest_successfullLogin</td> 
  <td>main@357863579</td>   <td></td> </tr>
<tr bgcolor="6a99b2">  <td>15/03/17 17:25:30</td>   <td>35327</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTest.tearDown()[pri:0, instance:com.leadformix.tests.LoginTest@4563e9ab]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@357863579</td>   <td></td> </tr>
</table>
