<h2>Reporter output</h2><table><tr><td>TESTING: Trial signup redirect</td></tr>
<tr><td>PASSED - Trial signup page redirect successfull</td></tr>
<tr><td>TESTING: Expect Standard Login Error Message for Blank User/Password</td></tr>
<tr><td>PASSED - Received Expected Error Message</td></tr>
<tr><td>TESTING: Expect Standard Login Error Message for Invalid User/Password</td></tr>
<tr><td>PASSED - Received Expected Error Message-though inconsistent HC-455</td></tr>
<tr><td>TESTING: Expect Standard Login Error Message for a Valid User but an Invalid Password</td></tr>
<tr><td>PASSED - Received Expected Error Message</td></tr>
<tr><td>TESTING: Expect Standard Login Error Message for a Long User name</td></tr>
<tr><td>PASSED - Received Expected Error Message</td></tr>
<tr><td>TESTING: Expect Standard Login Error Message when using special characters</td></tr>
<tr><td>PASSED - Received Expected Error Message</td></tr>
<tr><td>TESTING: Normal Login</td></tr>
<tr><td>PASSED - Logged in successfully</td></tr>
</table>